@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron container-fluid h-80 overflow-auto">
    <!-- Added overflow-auto -->
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="test col container-fluid enter position-relative bottom-0 vw-100" style="height: 20%;">
    <!-- Adjusted height to 20% -->
    <textarea class="w-auto"></textarea>
    <button class="w-20">Send</button>
</div>
